/*******************
Estilizando tabelas*/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
	width: 600px;
	border-collapse: separate;
}

th, td {
	padding: 7px;
}

th {
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;

}

tr.alternado {
	background-color: #efefef; 
}

tr:hover {
	background-color: #c3e6e6
}

.numero {
	text-align: right;
}

#menu {
	background: #AAC2A4;
	padding: 5px;
}

a {
	color: #508243; 
	text-decoration: none;
}

a:hover {
	color: #FFF;
	background: #7E8A7B;
}